pip==19.3
google-cloud-storage==1.19.0
google-cloud-bigquery==1.19.0
google-auth==1.6.3
google-api-core==1.14.2
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-datastore==1.9.0
google-cloud-language==1.3.0
google-cloud-spanner==1.9.0
google-cloud-translate==1.6.0
google-cloud-vision==0.38.1
google-pasta==0.1.7
google-resumable-media==0.3.3
googleapis-common-protos==1.6.0
apache-beam[gcp]==2.16.0
google-cloud-dlp==0.12.1
google-cloud-pubsub==1.0.0
google-cloud-videointelligence==1.11.0
google-cloud-logging==1.12.1
facets-overview==1.0.0
